{% extends 'main.html' %}
{% block containerBodyMain %}
    <div class="flex flex-col text-white min-h-screen pt-20">
        <div class="my-6 w-[95%] max-w-7xl mx-auto flex items-center justify-between">
            
            <!-- Botão de Download -->
            <a href="{% url 'exportar_ranking' %}" 
                class="bg-green-500 text-white p-2 px-4 rounded-lg shadow-lg flex items-center hover:bg-green-600 h-15">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 24 24" fill="none" 
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="7 10 12 15 17 10"></polyline>
                    <line x1="12" y1="15" x2="12" y2="3"></line>
                </svg>
                Baixar Excel
            </a>
    
            <!-- Título Centralizado -->
            <h1 class="text-3xl font-bold text-center flex-1">Ranking de Alunos Real Time</h1>

        </div>
        <div class="flex-grow flex items-center justify-center p-4">
            <div class="w-[95%] max-w-7xl bg-gray-800 p-6 rounded-lg shadow-lg">
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-400">
                        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                            <tr>
                                <th class="px-6 py-3">ID Aluno</th>
                                <th class="px-6 py-3">Nome do Aluno</th>
                                <th class="px-6 py-3">Total Pontos Envios</th>
                                <th class="px-6 py-3">Total Pontos Clientes</th>
                                <th class="px-6 py-3">Total Pontos Retenção</th>
                                <th class="px-6 py-3">Total Pontos Final</th>
                                <th class="px-6 py-3">Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aluno in alunos %}
                            <tr class="bg-gray-800 border-b border-gray-700 hover:bg-gray-700 cursor-pointer" 
                                onclick="window.location.href='{% url 'aluno' aluno.id %}'">
                                <td class="px-6 py-4">{{ aluno.id }}</td>
                                <td class="px-6 py-4">{{ aluno.nome }}</td>
                                <td class="px-6 py-4">{{ aluno.totalPontos }}</td>
                                <td class="px-6 py-4">{{ aluno.totalPontosClientes }}</td>
                                <td class="px-6 py-4">{{ aluno.totalPontosClientesRetencao }}</td>
                                <td class="px-6 py-4">{{ aluno.totalPontosFinal }}</td>
                                <td class="px-6 py-4 text-yellow-400 font-bold">{{ aluno.rank }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <p class="text-center">Nenhum aluno encontrado.</p>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}