.gcloudignore
.git
.gitignore
venv/
.venv
vev-django-api
vev-django-api/
db.sqlite3
node_modules
node_modules/*
.env
.vscode

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg
cloud-sql-proxy.exe
reprocessar.py