.gcloudignore
.git
.gitignore
venv/
.venv
venv_subidopro
venv_subidopro/
db.sqlite3
node_modules
node_modules/*
.env
.vscode

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg
cloud-sql-proxy.exe
reprocessar.py
subidopro3db.sql
teste.py
db.ipynb
migracao_db.ipynb
.env
api.http
staticfiles
