asgiref
cachetools
certifi
charset-normalizer
Django
django-appconf
django-compressor
djangorestframework
django-cors-headers
djangorestframework_simplejwt
environ
google-api-core
google-auth
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
idna
numpy
pandas
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
python-environ
pytz
rcssmin
requests
rjsmin
rsa
six
sqlparse
typing_extensions
tzdata
urllib3
XlsxWriter
