<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking dos Alunos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

    <h1>Ranking dos Alunos ({{ clientes_retorno|length }})</h1>

    <table>
        <thead>
            <tr>
                <th>cliente</th>
                <th>Id envio mes passado</th>
                <th>Id envio mes atual</th>
                <th>Qnt Envio mes atual</th>
                <th>Id ret mes atual</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes_retorno %}
            <tr>
                <td>{{ cliente.cliente }}</td>
                <td>{{ cliente.id_envio_mes_passado }}</td>
                <td>{{ cliente.id_envio_mes_atual }}</td>
                <td>{{ cliente.qtd_envios_mes_atual }}</td>
                <td>{{ cliente.id_retencao_mes }}</td>
            </tr>
        
            {% empty %}
            <tr>
                <td colspan="4" style="text-align:center;">Nenhum cliente encontrado</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
